h1{ 
    color:orangered;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:rgb(153, 206, 206);
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color:dodgerblue;
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color:darkslategray;
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p.refrain{
    color:rgb(38, 38, 143);
    font-style:italic;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 2;
    column-count: 1;
}

p.couplet{
    color:rgb(216, 186, 16);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 1;
    column-count: 1;
    
}
p.menu{
    color:rgb(40, 112, 184);
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
p.texte, li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media(min-width: 400px)

