h1{ 
    color:orangered;
    text-align: center;
    text-decoration: underline;

}
h2{
    color:rgb(153, 206, 206);
    text-decoration: underline;
    text-align: center;
}
h3{
    color:dodgerblue;
    text-decoration: underline;
    text-align: center;
}
h4{
    color:darkslategray;
    text-decoration: underline;
    text-align: center;


}
p.refrain{
    color:midnightblue;
    font-style:italic;
    text-align: center;

}
p.couplet{
    color:mediumblue;
    text-align: center;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
